<div fxLayout="row-reverse"fxFlex="20" >
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
           
          <button mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
                      </button>
         
                <div class="example-flex-container"fxFlex="30">
                  <div class="example-button-container">
            <button mat-mini-fab aria-activedescendant="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>

        </div>